<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-demo" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DemoPlugin</name>
    <js-module name="DemoPlugin" src="www/DemoPlugin.js">
        <clobbers target="cordova.plugins.demo" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DemoPlugin">
                <param name="android-package" value="com.cordova.plugin.demo.DemoPlugin" />
            </feature>
       </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/DemoPlugin.java" target-dir="src/com/cordova/plugin/demo/DemoPlugin" />
    </platform>
</plugin>